In [35]:
import warnings 
warnings.filterwarnings("ignore")

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("emlak.csv", sep = ";") 
data.head()

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   alan       8 non-null      int64
 1   odasayisi  8 non-null      int64
 2   binayasi   8 non-null      int64
 3   fiyat      8 non-null      int64
dtypes: int64(4)
memory usage: 388.0 bytes

In [9]:
data.describe()

             alan  odasayisi   binayasi          fiyat
count    8.000000   8.000000   8.000000       8.000000
mean   302.500000   4.250000   9.125000  610125.000000
std     73.920807   1.035098   5.841661   79982.922284
min    180.000000   3.000000   0.000000  508000.000000
25%    251.250000   3.750000   7.250000  538500.000000
50%    327.500000   4.000000  10.000000  630000.000000
75%    347.500000   5.000000  11.000000  657500.000000
max    400.000000   6.000000  18.000000  725000.000000

In [11]:
data.isnull().sum()

alan         0
odasayisi    0
binayasi     0
fiyat        0
dtype: int64

In [13]:
# target -> fiyat

In [17]:
from sklearn import linear_model

In [19]:
X = data.drop("fiyat", axis=1)
y = data["fiyat"]

In [21]:
print(X.head())

   alan  odasayisi  binayasi
0   180          5        10
1   225          4        18
2   260          3         2
3   320          6        10
4   335          4         9

In [23]:
lr = linear_model.LinearRegression()
lr.fit(X,y)

LinearRegression()

In [37]:
# Bir tahmin yapalım..

lr.predict([[230, 6, 4]])

array([575671.04614571])

In [39]:
lr.predict([[355,3,20]])

array([616657.45791365])

In [41]:
lr.predict([[230,4,10], [230,6,0], [355,3,20]])

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [55]:
print("Katsayılar:", lr.coef_)

Katsayılar: [ 1018.99865454 14893.82374984 -2606.68429997]

lr.coef_ ifadesi, scikit-learn kütüphanesinde kullanılan bir lineer regresyon modelinin 
(örneğin, LogisticRegression veya LinearRegression sınıflarının) eğitildiğinde, 
modelin öğrenmiş olduğu katsayıları (ağırlıkları) döndürür.

lr.coef_ ile modelin hangi özelliklere (özellikler, değişkenler) ne kadar önem verdiğini anlayabilirsiniz. 
Katsayılar, her bir bağımsız değişkenin hedef değişken üzerindeki etkisini gösterir. 
Pozitif bir katsayı, o değişkenin hedef değişkenle pozitif bir ilişki içinde olduğunu, 
negatif bir katsayı ise ters bir ilişki olduğunu gösterir.

Özelliklerin model üzerindeki etkilerini inceleyerek, hangi değişkenlerin modelin sonuçları için daha belirleyici olduğunu belirleyebilirsiniz. 
Bu bilgi, daha iyi bir model için hangi özellikleri tutmanız gerektiğini veya hangi özellikleri çıkarmanız gerektiğini anlamanıza yardımcı olabilir.

In [49]:
# modelin sabit terimini bulmak için

lr.intercept_

262365.1503032055

In [51]:
# Multiple Linear regression formülümüze dönersek hatırlayalım:
# y = a + b1X1 + b2X2 + b3X3 + ... 

a = lr.intercept_ # sabit değişken yani bütün bağımsız değişkenlerin tümü 0 olduğunda modelin tahmin ettiği ortalama çıktı değerini ifade eder.

b1 = lr.coef_[0]
b2 = lr.coef_[1]
b3 = lr.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

In [53]:
print(y)

530243.2928461881