In [104]:
import pandas as pd 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [69]:
data = pd.read_csv("DecisionTreesClassificationDataSet.csv")
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Deneyim Yili             16 non-null     int64
 1   SuanCalisiyor?           16 non-null     object
 2   Eski Calistigi Firmalar  16 non-null     int64
 3   Egitim Seviyesi          16 non-null     object
 4   Top10 Universite?        16 non-null     object
 5   StajBizdeYaptimi?        16 non-null     object
 6   IseAlindi                16 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.0+ KB

In [71]:
data.describe() # sayısal değerler için

       Deneyim Yili  Eski Calistigi Firmalar
count     16.000000                16.000000
mean       4.500000                 1.562500
std        5.680376                 2.220173
min        0.000000                 0.000000
25%        0.750000                 0.000000
50%        2.500000                 1.000000
75%        5.750000                 2.000000
max       19.000000                 7.000000

In [72]:
# modele verilerin verilebilmesi için sayısal değerde olması gerekiyor.

data.nunique()

Deneyim Yili               10
SuanCalisiyor?              2
Eski Calistigi Firmalar     6
Egitim Seviyesi             3
Top10 Universite?           2
StajBizdeYaptimi?           2
IseAlindi                   2
dtype: int64

In [73]:
data["SuanCalisiyor?"] = data["SuanCalisiyor?"].map({"Y":1, "N":0})
data["Top10 Universite?"] = data["Top10 Universite?"].map({"Y":1, "N":0})
data["StajBizdeYaptimi?"] = data["StajBizdeYaptimi?"].map({"Y":1, "N":0})
data["IseAlindi"] = data["IseAlindi"].map({"Y":1, "N":0})
data["Egitim Seviyesi"] = data["Egitim Seviyesi"].map({"BS":0, "MS":1, "PhD":2})
data.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [74]:
# bütün veriler modele uygun hale getirildi.

x = data.drop("IseAlindi", axis=1)
y = data["IseAlindi"]

x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [108]:
from sklearn import tree

ImportError: cannot import name 'plot_tree' from 'sklearn' (/opt/anaconda3/lib/python3.11/site-packages/sklearn/__init__.py)

In [76]:
dtree = tree.DecisionTreeClassifier()
dtree = dtree.fit(x,y)

In [77]:
# örnek bir tahmin

pred = dtree.predict([[1,0,0,0,0,0]])
print(pred)

[0]

In [78]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor

print(dtree.predict([[2, 0, 7, 0, 1, 0]]))

[0]

In [79]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu değil şuan çalışıyor
print(dtree.predict([[2, 1, 7, 0, 0, 0]]))

[1]

In [80]:
# Toplam 20 yıllık iş deneyimi, 5 kez iş değiştirmiş iyi bir okul mezunu 
print(dtree.predict([[20, 0, 5, 1, 1, 1]]))

[1]

In [98]:
# Toplu Öğrenme: Random Forest

# 20 tane decision tree birleşiminden oluşan bir Random Forest kullanarak tahmini

In [100]:
from sklearn.ensemble import RandomForestClassifier

In [116]:
rf_tree = RandomForestClassifier(20)

In [118]:
rf_tree = rf_tree.fit(x,y)

In [120]:
print (rf_tree.predict([[10, 1, 4, 0, 0, 0]]))

print (rf_tree.predict([[10, 0, 4, 0, 0, 0]]))

[1]
[0]